@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;1,300&family=Source+Sans+Pro:ital,wght@0,300;1,200&display=swap');

:root {
    --primary-color:#9333ea
}
body{

font-family: 'Source Sans Pro', sans-serif;
}

hr{
    margin: 2rem 0rem;
}

.container-fluid{
    padding-left: 1rem;
    padding-right: 1rem;
}
.container{
    max-width: 600px;
    margin: auto;
}
.link{
    text-decoration: none;
    padding: 0.5rem 1rem;
}
.primary-link{
 background-color: var(--primary-color);
 border-radius: 0.5rem;
 color: white;
}

.secondary-link{
    color: var(--primary-color);
    border-radius: 0.5rem;
    border: 1px solid var(--primary-color);
}

.list-non-bullet{
    list-style: none;
}

.list-inline{
    display: inline;
    padding: 0rem 0.5rem;
}